{% extends "base.html" %}

{% block site_title %}{{ article.title }}{% endblock %}

{% block content %}
<article class="post">

    <header>
        <h2>{{ article.title }}</h2>
        <p class="meta">Posted at <time pubdate datetime="{{ article.date }}">{{ article.date }}</time></p>
    </header>

    {{ article.content }}

</article>
{% endblock %}
