<!doctype html>
<html lang="en-AU">

<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{% block site_title_base %}{% block site_title %}{% endblock %} - {{ SITENAME }}{% endblock %}</title>
<link type="text/css" rel="stylesheet" href="/theme/css/style.css">
<link type="text/css" rel="stylesheet" href="/theme/css/pygments.css">
{% block extrahead %}{% endblock %}
</head>

<body class='{% block bodyclass %}home{% endblock %}'>

    <header class='site'><div class="container">
        <h1><a href="/">Tim Heap</a></h1>
    </div></header>

    <main><div class="container">
        {% block content %}{% endblock %}
    </div></main>

</body>

{% block script %}{% endblock %}

</html>
