
<section class="about">
    <h2>Hello</h2>
    <p>I'm a software developer from Australia.</p>
    <p>I work for <a href="http://ionata.com.au/">Ionata</a>.</p>
    <p>I write software, mostly in Python and JavaScript.</p>
    <p>If you want to say hello, please <a href="mailto:heap.tim@gmail.com">email me</a></p>

    <h2>Around</h2>
    <p>If you want to get in touch, or find me around the internet</p>

    <ul>
        <li><a href="https://twitter.com/tim_heap">@tim_heap</a></li>
        <li><a href="https://github.com/timheap">Github</a></li>
        <li><a href="https://bitbucket.com/tim_heap">Bitbucket</a></li>
        <li><a href="http://lnkd.in/VkrfSX">LinkedIn</a></li>
    </ul>

    <h2>Projects</h2>
    <p>I contribute to a number of open source projects:</p>

    <article><a class="block" href="http://github.com/ionata/django-formset-js">
        <h3>Django formset.js</h3>
        <p>A small jQuery plugin that makes Django formsets dynamic</p>
    </a></article>

    <article><a class="block" href="http://github.com/timheap/jquery-xmlrpc">
        <h3>jquery.xmlrpc.js</h3>
        <p>An XML-RPC client written for jQuery in the browser</p>
    </a></article>

    <article><a class="block" href="http://github.com/timheap/xmlrpc-js">
        <h3>xmlrpc.js</h3>
        <p>A JavaScript XML-RPC client with no dependencies for the browser</p>
    </a></article>

    <article><a class="block" href="http://github.com/timheap/.dot-files">
        <h3>.dot-files</h3>
        <p>My dot files: <code>vimrc</code>, <code>bashrc</code>, <code>tmux.conf</code>, etc</p>
    </a></article>

    <article><a class="block" href="http://github.com/timheap/.dot-files">
        <h3>linters.vim</h3>
        <p>a Vim plygin that checks your code for errors as you write it</p>
    </a></article>

</section>

<section class="articles">
<h2>Posts</h2>

{% for article in articles_page.object_list %}
    {% include 'article_excerpt.html' %}
{% endfor %}
{% include "pagination.html" %}

</section>
