{% if DEFAULT_PAGINATION %}
    <nav class="pagination">
        {% if articles_page.has_previous() %}
            <a href="{{ localsiteurl }}/{{ articles_previous_page.url }}">
                &laquo; Newer posts
            </a>
        {% endif %}
        <span>Page {{ articles_page.number }} of {{ articles_paginator.num_pages }}</span>
        {% if articles_page.has_next() %}
            <a href="{{ localsiteurl }}/{{ articles_next_page.url }}">
                Older posts &raquo;
            </a>
        {% endif %}
    </nav>
{% endif %}
