@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

* {
    box-sizing: border-box;
    text-align: justify; }

body {
    font-family: "Raleway", sans-serif;
    font-size: 0.875em;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    color: #333; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: normal;
    margin-top: 0; }
h1 { font-size: 4em; }
h2 {
    font-size: 3em;
    border-bottom: 1px solid #ccc; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1em; }

p, pre, table {
    margin-top: 0;
    margin-bottom: 1em; }

a {
    text-decoration: none;
    color: red; }

.container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; }

header.site {
    background-color: #333;
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: 2em; }
    header h1 {
        margin: 0;
        text-align: center; }

/* Main home page container. Flex it up for three columns */
@media (min-width: 800px) {
    body.home main .container {
        display: flex; }
        main .container > section.about { flex: 1; margin-right: 15px; }
        main .container > section.articles { flex: 2; margin-left: 15px; }
}

a.block {
    display: block;
    color: #333;
    outline: 0px solid white;
    transition: all 0.5s ease; }

    a.block:hover {
        outline: 10px solid #eee;
        color: red;
        background-color: #eee; }

article {
    display: block;
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc; }

    :last-child {
        margin-bottom: 0; }

    article:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0; }

    article header {
        margin-bottom: 2em;
        border-bottom: 1px solid #ccc; }
        article header h2 {
            margin-bottom: 0;
            border-bottom: 0; }

    article aside {
        font-style: italic; }

.pagination {
    display: flex;
    margin-left: auto;
    margin-bottom: 1em;
    flex-direction: row; }
    .pagination a,
    .pagination span {
        display: block;
        margin: 1em; }
    .pagination :first-child { margin-left: 0; }
    .pagination :last-child { margin-right: 0; }
    .pagination span {
        flex: 1;
        text-align: center; }
